.mb-3 {
  height: auto;
  width: auto;
  /* min-width: 24em; */
  margin: 0 0 0.3rem 0;
}

.invalid-feedback {

  unicode-bidi: none;
}

.form-control,
.form-select {
  padding: 0.7rem;
}

.form-label {
  margin-top: 0;
}
