.user-flights-container{
    align-items: center;
    width: 100%;
}

.flight-tickets {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: center; 
}
.plane-icon {
  width: 2rem;
  height: 2rem;
  color: #1d4ed8;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #1f2937;
  margin-left: 0.75rem;
}

.search-container {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

}

.error-message {
  background-color: #fef2f2;
  border: 1px solid #fcdcdc;
  border-radius: 0.5rem;
  padding: 1rem;
  justify-content: center; 
  margin-left: 250px;
  align-items: center; 
  text-align: center;
  margin-top:1.5rem;
  width: 60%;
  margin-bottom: 1.5rem;
}

.error-text {
  color: #b91c1c;
}

.flight-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
.pagination-controls {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pagination-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #e5e7eb;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #0056b3;
}
