.signup-container .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.signup-container fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.signup-container legend {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 10px;
}

.signup-container h2 {
  margin: 1rem;
}

.button-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.signup-container .mb-3 {
  width: 42%;
}

.button-row .btn {
  margin: 1rem 2rem 1rem 0;
}

.three-input-row {
  display: flex;
}

.three-input-row .mb-3 {
  width: auto;
}

.three-input-row #firstName,
.three-input-row #lastName {
  width: 20vw;
}

.three-input-row #gender {
  width: 10vw;
}
