.filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background: #f8f9fa;
  margin-top: 5px;
  border: 1px solid #ddd;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.filter-row {
  display: flex;
  gap: 10px; 
  justify-content: center; 
}

.filter-item {
  flex: 1;
  min-width: 150px; 
}

.select-input {
  width: 100%; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.filter-label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.datepicker {
  width: 100%; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}

.category-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.category-button {
  padding: 8px 16px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.category-button.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
.radio-filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px 0;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-item input[type="radio"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.radio-item input[type="radio"]:checked {
  border-color: #007bff;
  background-color: #007bff;
}

.radio-item label {
  cursor: pointer;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.radio-item input[type="radio"]:checked + label {
  color: #007bff;
  font-weight: bold;
}


.search-btn {
  margin-top: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search-btn:hover {
  background-color: #0056b3;
}
