.upgrade-user-form .mb-3{
    width: 90%;
}

.upgrade-user-form h1{
    width: 95%;
    font-size: xx-large;
    color: black;
    margin-bottom: 1rem;
}

.upgrade-user-form label{
    color:black;
    font-weight: 300;
}

.upgrade-user-form .mb-3{
    width: 98%;
}