.navLogo {
  margin-left: 2rem;
}

.nav-style {
  margin: auto;
}

.navbar-toggler {
  margin-right: 3rem;
}

.nav-item {
  padding: 1rem;
  font-weight: bold; /* Makes the text bold */
  text-transform: uppercase; /* Capitalizes the text */
  margin: 1rem;
  color: var(--navy-blue);
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-left: 100px;
}
.nav-link{
  transition: none;
}

.nav-item:hover,
.active-page,
.nav-link:hover {
  border-radius: 1em;
  padding: 1rem;
  text-align: center;
  background-color: var(--navy-blue);
  color: var(--greyish-white);
}

.navbar-brand{
  margin-left: 4rem;
  width: 30vw;
}

.navbar{
  background-color: red;
}
.user-registeration-container, .user-profile-container{
  display: flex;
}

@media (max-width: 1200px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
