/* .navbar-nav{
  position: fixed;
} */

.navLogo {
  margin-left: 2rem;
}

.nav-style {
  margin: auto;
}

.navbar-toggler {
  margin-right: 3rem;
}

.nav-item {
  padding: 1rem;
  font-weight: bold; /* Makes the text bold */
  text-transform: uppercase; /* Capitalizes the text */
  margin: 1rem;
  color: var(--navy-blue);
}

.navbar-nav {
  margin-left: auto;
  margin-right: 30em;
  padding: 1rem;
}

.nav-item:hover,
.active-page,
.nav-link:hover {
  border-radius: 1em;
  padding: 1rem;
  text-align: center;
  background-color: var(--navy-blue);
  color: var(--greyish-white);
}


.user-registeration-container, .user-profile-container{
  /* background-color: red; */
  display: flex;
}

@media (max-width: 1200px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
